<div class="text-center">
  <h2>{{title}}</h2>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>{{entry}}</p>
</div>
  {{#if comments.length}}
  <div class="col-md-6 comment-list">
    <h3>Comments:</h3>
    {{#each comments as |comment|}}
    <div class="row mb-2">
      <div class="col-md-10">
        <p>{{comment.user_comment}}</p>
        <p>{{comment.user.name}}</p>
        <p>{{format_date comment.date_created}}</p>
      </div>
      {{!-- {{#if_equals comment.user_id}} --}}
      <div class="col-md-2">
        <button class="btn btn-sm btn-danger" data-id="{{comment.id}}">DELETE</button>
      </div>
      {{!-- {{/if_equals}} --}}
    </div>
    {{/each}}
  </div>
  {{/if}}
  <div class="text-center">
  <form class="form new-comment-form">
    <div class="form-group">
      <label for="new-comment">leave a comment:</label>
      <textarea class="form-input" type="text" id="new-comment" title="new-comment"></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>

<script src="/js/comment.js"></script>